footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

fieldset {
    background: #f7f7f7;
}

li {
    display: inline;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #999; /* Can be changed via colors.css */
    background-color: #fff;
}



p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
}


